@model UserFeedbackViewModel
@inject IViewLocalizer Localizer
@{
	Debug.Assert(Model != null);
	ViewData["Title"] = Model.Seller.Name;
}

@await Html.PartialAsync("UserPartial", new UserViewModel(Model.Seller, true))
@if (Model.CanLeaveFeedback)
{
	if (Model.LeftFeedback == null)
	{
		<form method="post" class="mt-4">
			<div class="d-flex justify-content-end flex-row-reverse mb-1">
				<input asp-for="FeedbackViewModel.Rate" type="radio" value="5" class="appearance-none star" >
				<input asp-for="FeedbackViewModel.Rate" type="radio" value="4" class="appearance-none star" >
				<input asp-for="FeedbackViewModel.Rate" type="radio" value="3" class="appearance-none star" >
				<input asp-for="FeedbackViewModel.Rate" type="radio" value="2" class="appearance-none star" >
				<input asp-for="FeedbackViewModel.Rate" type="radio" value="1" class="appearance-none star" >
			</div>
			<textarea asp-for="FeedbackViewModel.Text" class="form-control"></textarea>
			<div class="d-flex justify-content-between align-items-start mt-2">
				<div asp-validation-summary="All" class="text-danger"></div>
				<input type="submit" class="btn btn-primary px-3" value="@Localizer["Publish"]">
			</div>
			<input asp-for="FeedbackViewModel.Seller.Id" type="hidden">
		</form>
	}
	else
	{
		<div class="mt-3">
			@await Html.PartialAsync("FeedbackPartial", Model.LeftFeedback)
		</div>
		<div class="d-flex justify-content-end mt-2">
			<a asp-action="Remove" asp-route-id="@Model.Seller.Id" class="btn btn-danger px-3">@Localizer["Remove"]</a>
		</div>
	}
}
<div class="mt-4">
	@foreach (FeedbackDto feedback in Model.Feedback)
	{
		<div class="mt-3">
			@await Html.PartialAsync("FeedbackPartial", feedback)
		</div>
	}
</div>

<form method="get">
	@await Html.PartialAsync("PagePartial", new PageViewModel(Model.Feedback.PageIndex, Model.Feedback.TotalPages, Model.Feedback.TotalCount))
</form>

@section Scripts {
	<script src="~/js/load-external-info.js"></script>
	<script src="~/js/fill-item-info.js"></script>
}
