@model IndexViewModel
@inject IViewLocalizer Localizer
@{
	Debug.Assert(Model != null && Model.Items != null && Model.Filter != null);
	ViewData["Title"] = "Home";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form asp-controller="Items" asp-action="Index" method="get">
	<div class="d-flex">
		<div class="form-floating w-100">
			<input asp-for="Filter!.Query" name="query" value="@Model.Filter.Query" class="form-control" placeholder=" ">
			<label asp-for="Filter!.Query"></label>
		</div>
		<button type="submit" class="btn btn-outline-primary ms-1 px-4 text-monospace">@Localizer["Find"]</button>
	</div>
	<h2 class="display-4 mt-4">@Localizer["LatestItems"]</h2>
	<div>
		@foreach (ItemDto item in Model.Items)
		{
			<div class="mt-3">
				@await Html.PartialAsync("ItemPartial", item)
			</div>
		}
	</div>
</form>

@section Scripts {
	<script src="~/js/hide-empty-form-fileds.js"></script>
	<script src="~/js/external-info-loader.js"></script>
	<script src="~/js/item-info-filler.js"></script>
}
