@model UserItemsViewModel
@inject IViewLocalizer Localizer
@{
	Debug.Assert(Model != null);
	ViewData["Title"] = Model.User.Name;
}

@await Html.PartialAsync("UserPartial", new UserViewModel(Model.User, true))
<div class="mt-4"><i>@Localizer["Found"]: @Model.Items.TotalCount</i></div>
<div>
	@foreach (ItemDto item in Model.Items)
	{
		<div class="mt-3">
			@await Html.PartialAsync("ItemPartial", item)
		</div>
	}
</div>

@section Scripts {
	<script src="~/js/load-external-info.js"></script>
	<script src="~/js/fill-item-info.js"></script>
}
