html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}

.btn-reset {
	border: 0;
	background-color: transparent;
}

.w-450 {
	width: 450px;
}
