html {
	font-size: 14px;
}

.item-image {
	width: 180px;
	height: 135px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}

	.item-image {
		width: 220px;
		height: 165px;
	}
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}

.btn-reset {
	border: 0;
	background-color: transparent;
}

.w-450 {
	width: 450px;
}

.item-image {
	object-fit: cover;
}

.item-image-none {
	object-fit: contain;
}

.h-400 {
	height: 400px;
}
