html {
	font-size: 14px;
}

.item-image {
	width: 180px;
	height: 135px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}

	.item-image {
		width: 220px;
		height: 165px;
	}
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}

.btn-reset {
	padding: 0;
	border: 0;
	background-color: transparent;
	outline: none;
}

.w-400 {
	max-width: 400px;
}

.w-450 {
	max-width: 450px;
}

.h-400 {
	max-height: 400px;
}

.item-image {
	object-fit: cover;
}

.item-image-none {
	background: center / contain no-repeat url("/img/no-image.svg");
}

.white-space-pre-wrap {
	white-space: pre-wrap;
}

.avatar {
	width: 100px;
	height: 100px;
	background-color: #ededed;
}

.avatar-sm {
	width: 30px;
	height: 30px;
}

.avatar-none {
	background-image: url("/img/person.svg");
	background-size: cover;
}


.li-icon {
	list-style: none;
}

.li-icon::before {
	content: '';
	display: inline-block;
	height: 21px;
	width: 21px;
	margin-right: 8px;
	background-size: contain;
}

.li-phone::before {
	background-image: url("/img/phone.svg");
}

.li-location::before {
	background-image: url("/img/location.svg");
}
